{% extends "catalog/../base_generic.html" %}
{% block title %}<title>Authors List</title>{% endblock %}
{% block content %}
    <h1>Authors List</h1>
    {% if request.user.is_staff %}
        <a class="btn btn-primary" href="{% url 'author_create' %}" role="button">Add author</a>
    {% endif %}
    <p> </p>
    {% if author_list %}
    <ul>

      {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a> ({{ author.get_books_count }})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no added authors.</p>
    {% endif %} 
{% endblock %}